#portfolio {
  padding: 4rem 0;
  text-align: center;
  width: 100%;
  margin: auto;
  .porftolio-title {
    color: $white;
    font-size: 3rem;
    font-weight: 700;
  }
  .portfolio-desc {
    color: $color-gray-light;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0 1rem;
  }
  .portfolio-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  background-color: $white;
  width: 20rem;
  border-radius: 5px;
  border: 2px solid $color-base;
  margin: 2rem 1rem;
  &__img {
    width: 100%;
    height: 30vh;
  }
  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
    }
    &__p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 2rem;
      height: 8rem;
    }
    &__btn {
      margin: 3px 0;
      &__media {
        background-color: $color-primary;
        border-color: transparent;
      }
      background-color: $color-primary-darker;
      text-decoration: none;
      padding: 10px;
      color: $white;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        transition: ease 0.3s all;
        background-color: $color-primary-darkest;
      }
    }
  }
}

/*Responsive*/

@media screen and (max-width: 646px) {
  #portfolio {
    .portfolio-desc {
      font-size: 1rem;
      line-height: 4vh;
    }
  }
}

@media screen and (max-width: 395px) {
  .card {
    &__img {
      width: 100%;
      height: 20vh;
    }
    &__body {
      &__title {
        font-size: 1.1rem;
      }
    }
  }
}
